:root {
  --clr-primary-left: hsl(31, 77%, 52%);
  --clr-primary-middle: hsl(184, 100%, 22%);
  --clr-primary-right: hsl(179, 100%, 13%);

  --clr-neutral-100: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --clr-neutral-400: hsl(0, 0%, 95%); /*  (background, headings, buttons) */

  --ff-primary: "Big Shoulders Display", cursive;
  --ff-secondary: "Lexend Deca", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 15px;
  position: relative;
  background-color: var(--clr-neutral-400);
}

/* 327-442 */

main {
  margin: 3rem auto;
  width: 327px;
  max-width: 90%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  padding: 3rem;
}

.card h1 {
  margin-top: 1.5rem;
  font-size: 2.4em;
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card p {
  margin-bottom: 1.5rem;
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-100);
  line-height: 1.6;
}

main button {
  border: 2px solid var(--clr-neutral-400);
  border-radius: 4em;
  padding: 0.6rem 1.8rem;
  font-family: var(--ff-secondary);
  cursor: pointer;
}

.left-btn {
  color: var(--clr-primary-left);
}

.left-btn:hover {
  background-color: var(--clr-primary-left);
  color: var(--clr-neutral-400);
}

.middle-btn {
  color: var(--clr-primary-middle);
}

.middle-btn:hover {
  background-color: var(--clr-primary-middle);
  color: var(--clr-neutral-400);
}

.right-btn {
  color: var(--clr-primary-right);
}

.right-btn:hover {
  background-color: var(--clr-primary-right);
  color: var(--clr-neutral-400);
}

.left-card {
  background-color: var(--clr-primary-left);
}

.middle-card {
  background-color: var(--clr-primary-middle);
}

.right-card {
  background-color: var(--clr-primary-right);
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    width: 910px;
  }

  main button {
    margin-top: 3.5rem;
  }
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 10px;
}
footer .attribution {
  font-family: "Outfit", sans-serif;
  color: var(--clr-primary-middle);
  font-weight: 700;
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

footer .attribution a {
  color: var(--clr-primary-left);
  position: relative;
  font-family: "Outfit", sans-serif;
  transition: 0.2 ease;
}
footer .attribution a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: -1;
  bottom: -3px;
  rotate: 0deg;
  border-radius: 2px;
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s ease;
}
footer .attribution a:hover::before {
  transform: scale(1);
  rotate: -1deg;
  background-color: var(--clr-primary-middle);
}
footer .attribution a:hover {
  color: var(--clr-primary-left);
  text-decoration: none;
}
@media (min-width: 650px) {
  footer .attribution {
    font-size: 0.8rem;
  }
}
@media (max-width: 321px) {
  footer .attribution {
    font-size: 0.5rem;
  }
}
