@media (min-width: 1024px) {
  .last-section .founder-img {
    left: 7rem;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 3.5rem 10.3rem;
    height: 45rem;
  }

  .header .nav-apply {
    font-size: 1.125rem;
  }

  .header .nav-logo {
    width: 5.9rem;
  }

  .header .header-title {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 39rem;
  }

  .header .title-button-container {
    text-align: center;
  }

  .header .title-button-container button {
    width: 10rem;
    height: 3.8rem;
    font-size: 1.125rem;
  }

  .header .hero-img {
    max-width: 43rem;
  }

  .middle-section {
    padding-top: 16rem;
    padding-bottom: 10rem;
    margin-bottom: 6.8rem;
  }
  .middle-section .middle-section-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.6rem;
    margin: 0 10.31rem;
  }
  .middle-section .middle-section-container .article {
    flex-direction: column;
    gap: 3.5rem;
  }
  .middle-section .middle-section-container .article .article-number {
    width: 3.5rem;
    height: 3.5rem;
  }
  .middle-section .middle-section-container .article .article-number p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 22.1rem;
  }

  .middle-section .middle-section-container .article-title-and-text h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.75rem;
  }
  .middle-section .middle-section-container .article-title-and-text p {
    max-width: 23rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .last-section {
    padding: 10.8rem 0 0;
    margin: 0 10.8rem;
  }
  .last-section .founder-img {
    width: 29rem;
    left: 0;
  }
  .last-section .founder-article {
    width: 45rem;
    padding: 4rem;
  }
  .last-section .founder-article .bg-pattern-three {
    width: 13rem;
    top: 17rem;
    left: 28rem;
  }
  .last-section .founder-article h2 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  .last-section .founder-article p {
    margin-bottom: 2rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .last-section .founder-article .apply-btn {
    width: 11.8rem;
    height: 3.8rem;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .footer-container {
    margin: 7.6rem auto 0;
    margin-bottom: 7rem;
  }
}
